:root {
  --color-bg1: #191970;
  --color-bg2: #e6e6fa;
  --color-font1: #eee;
  --color-shadow: #8087b9;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-bg2);
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
header {
  background-color: var(--color-bg1);
  position: fixed;
  top: 0;
  width: 100%;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: var(--color-font1);
}
header li {
  padding: 10px 0;
}
header a {
  color: var(--color-font1);
  cursor: pointer;
  text-decoration: none;
}
.section {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1,
h2,
h3 {
  margin: 45px 0 10px 0;
}
h1 {
  margin: 65px 0 20px 0;
}
figure {
  margin: 0 10%;
}
section ul {
  text-align: left;
  margin-right: 8px;
}
p {
  text-align: justify;
}
.livros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-between;
  margin-bottom: 20px;
}
.livros img {
  width: 150px;
  margin: 15px auto;
}
img {
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3%;
  box-shadow: 10px 10px 5px var(--color-shadow);
}

#download {
  margin-bottom: 10px;
}
.endofsection {
  margin-bottom: 0;
}
/* tablet e desktop*/

@media only screen and (min-width: 768px) {
  header ul {
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
  }
}
